.btn {
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #495057;
  cursor: pointer;
  /* border: none; */
  border-radius: 0.6rem;
  transition: all 0.3s;
}

.back {
  border: 0.1rem solid #dee2e6;
  color: #dee2e6;
  width: 27%;
}

:global(.btn--back) {
  border: 0.1rem solid #dee2e6;
  color: #dee2e6;
}

.primary {
  border: none;
  color: #343a40;
  background-color: #37b24d;
}

:global(.btn--primary) {
  border: none;
  color: #343a40;
  background-color: #37b24d;
}
/* :global(.btn--add) {
  border: none;
  color: #343a40;
  background-color: #37b24d;
} */

.position {
  border: none;
  background-color: #37b24d;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.8rem;
  position: absolute;
  bottom: 9%;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
  line-height: 1.4;
  z-index: 1000;
}
