.nav {
  /* padding: 2.4rem 3.2rem; */
  padding: 1.2rem 3rem;
  padding-right: 5rem;
  /* margin-bottom: 4.8rem; */
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
  align-items: center;
}

.nav li {
  border-radius: 1rem;
  overflow: hidden;
}

.nav li:nth-child(1) {
  margin-left: 0;
  margin-right: auto;
}

.nav a:link,
.nav a:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f9fa;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

.nav a:hover,
.nav a:active {
  background-color: #37b24d;
}

.nav :global(.active) {
  color: #2b8a3e !important;
}

/* :global(.test) {
  background-color: red;
} */

.logo {
}

/* .logo img {
  height: 6rem;
} */

.logo a:hover,
.logo a:active {
  background: none;
}

.login {
  background-color: #37b24d;
}

.login a:link,
.login a:visited {
  color: #212529;
}

.login a:hover,
.login a:active {
  background-color: #343a40;
  color: #f8f9fa;
}
