/* .spinner {
  transform: translate3d(-50%, -50%, 0) rotate(360deg);
} */

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 0.6rem #495057;
  border-bottom-color: #212529;
  /* border-bottom-width: 0.6rem; */
  /* border-bottom-style: double; */
  /* border-bottom-style: outset; */
  /* border-bottom-right-radius: 10rem;
  border-bottom-left-radius: 10rem; */
  border-radius: 50%;
  content: "";
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  z-index: 1000;
}
