.item {
  background-color: #495057;
  border-radius: 0.8rem;
  text-align: center;
  padding: 1.2rem 0;
  border-left: 0.6rem solid #f59f00;
}

.code {
  font-size: 2.4rem;
  font-weight: 600;
}

.name {
  font-size: 2rem;
  line-height: 1.5;
}
